**Estrutura condicional if/else/elif**

alteração do fluxo lógico. tomar decisão lógicas.

In [ ]:
if <booleano / comparação lógica> == True: 
  <executa esse código>
  else: 
    <senão executa esse código>

In [ ]:
if False: 
  print("verdadeiro")
else:
  print("falso")

falso

In [ ]:
a = "827"
b = "010"
c = a <= b
print(c)

False

In [ ]:
if c: 
  print("ok")
else:
  print("nok")

nok

In [ ]:
if a == b:
  print("ok")
else: 
  print("nok")

nok

com o AND

In [ ]:
a = "345"
b = "827"
d = "7783"
e = "7783"

if (a == b) & (d == e):
  print("ok")
else:
  print("nok")

nok

com o OR

In [ ]:
if (a != b) | (d != e):
  print("ok")
else:
  print("nok")

ok

if/elif/else : avaliar multiplas condições

In [ ]:
if <1o booleanos / 1a comparação lógica> == True:
  <execute esse código se a 1a condição for verdade>
elif <2o booleanos / 2a comparação lógica> == True:
  <execute esse código se a 1a condição for verdade> 
else: 
  <senão execute esse código>

In [ ]:
a = "822"
b = "82"
d = "5555"
e = "5555"
if (a == b) & (d == e):
  print("ok")
elif (a == b) | (d == e):
  print("o a fede")
elif (a == b) & (d != e):
  print("o a é invalido")
else:
  print("nok")

o a fede

**Estrutura condicional TRY/EXCEPT/FINALLY**

lidar com possíveis erros

In [ ]:
preço = 132.85
pessoas = 0
try:
  VP = preço / pessoas
  print(VP)
except ZeroDivisionError:
  print("numero de pessoas inválido")

numero de pessoas inválido

In [ ]:
anos = [2019, 2020, 2021]
try:
  ano_atual = anos[5]
  print(ano_atual)
except Exception:
  print("lista de anos inferior ao valor pedido. Espera-se um valor entre: " + str(len(anos) - 1))

lista de anos inferior ao valor pedido. Espera-se um valor entre: 2

In [ ]:
anos = [2019, 2020, 2021]
try:
  ano_atual = anos[3]
  print(ano_atual)
except Exception as exc:
  print("descrição da exceção:" + str(exc))
  print(("tipo de exceçao:" + str(type(exc)) ))
  print("Lista de anos menor que o valor escolhido. Espera-se um valor entre 0 e " + str(len(anos) - 1))

descrição da exceção:list index out of range
tipo de exceçao:<class 'IndexError'>
Lista de anos menor que o valor escolhido. Espera-se um valor entre 0 e 2

sempre analisar erro do mais específico para depois o genérico

In [ ]:
anos = [2019, 2020, 2021]
try:
  ano_atual = anos[3]
  print(ano_atual)
except Exception:
  print("lista de anos inferior ao valor pedido. Espera-se um valor entre: " + str(len(anos) - 1))
except Exception as exc:
  print(exc)
  print("erro genérico")

lista de anos inferior ao valor pedido. Espera-se um valor entre: 2

In [ ]:
nome = "LPT"
idade = 44
try:
  apresentação = "meu nome é" + nome + "eu tenho " + idade
except TypeError:
  idade = str(idade)
finally:
  print('2n chance')
  apresentação = "meu nome é " + nome + " eu tenho " + idade
  print(apresentação)

2n chance
meu nome é LPT eu tenho 44

**Estrutura de repetição FOR / IN**: Fluxo Condicional & Repetição

  realizar uma série de atividades repetidamente

In [ ]:
for variaável_temporária in coleção:
  <execute esse código>

**FOR / IN / RANGE**

poder de executar várias vezes a mesma base de códigos baseado numa coleção

In [ ]:
for v in range(6):
  print(v)

0
1
2
3
4
5

v=0 s=0+0=0, 
v=1 s=0+1=1, 
v=2 s=1+2=3, 
v=3 s=3+3=6.

In [ ]:
soma = 0
for v in range(0, 10):
  soma = soma + v
  print(soma)

0
1
3
6
10
15
21
28
36
45

ir do 2 até o 2 com passo de 2

In [ ]:
for multiplo_dois in range(2, 10, 2):
  print(multiplo_dois)

2
4
6
8

FOR / IN / LIST

In [ ]:
frutas = [{"a":2, 'A':15}, {"a":2, 'A':4}, {"a":1, 'A':3}, {"a":2, 'A':17}]
for fruta in frutas:
  print(fruta)

{'a': 2, 'A': 15}
{'a': 2, 'A': 4}
{'a': 1, 'A': 3}
{'a': 2, 'A': 17}

In [ ]:
frase = "o Coxa vai ser o campeão."
for caracter in frase:
  if (caracter == 'o') | (caracter == 'x'):
    print(f'A letra "{caracter}" está presente na frase.')

A letra "o" está presente na frase.
A letra "o" está presente na frase.
A letra "x" está presente na frase.
A letra "o" está presente na frase.
A letra "o" está presente na frase.

In [ ]:
c = {'a':567, 'b':783 , 'c':324 , 'd':786}
for chave, valor in c.items():
  print(f'para documento {chave}, o valor do escore é {valor}.')
  print('\n')

para documento a, o valor do escore é 567.


para documento b, o valor do escore é 783.


para documento c, o valor do escore é 324.


para documento d, o valor do escore é 786.

In [ ]:
for chave in c.keys():
  print(chave)
  print(c[chave])
  print(f'para doc {chave}, o valor do escore de c é {c[chave]}')

a
567
para doc a, o valor do escore de c é 567
b
783
para doc b, o valor do escore de c é 783
c
324
para doc c, o valor do escore de c é 324
d
786
para doc d, o valor do escore de c é 786

In [ ]:
for valor in c.values():
  print(valor)
  print(f'valor escore é {valor}, mas não tem mais chave :(.')

567
valor escore é 567, mas não tem mais chave :(.
783
valor escore é 783, mas não tem mais chave :(.
324
valor escore é 324, mas não tem mais chave :(.
786
valor escore é 786, mas não tem mais chave :(.

BREAK / CONTINUE

In [ ]:
for i in range(0, 1010):
  print(i)
  if i == 5:
    break

0
1
2
3
4
5

In [ ]:
numero = 11
if numero % 2 == 0:
  print(f'O numero {numero} par')
else:
  print(f'O numero {numero} impar')

O numero 11 impar

para quando encontra o primeiro numero par

In [ ]:
numeros = [361, 553, 194, 13, 510, 33, 135]
for numero in numeros:
  if numero % 2 == 0:
    print(f'o numero {numero} par')
    break
  else:
    print(f'o numero {numero} impar')

o numero 361 impar
o numero 553 impar
o numero 194 par

In [ ]:
numeros = [361, 553, 194, 13, 510, 33, 135]
for numero in numeros:
  if numero %2 == 0:
    print(f'O numero {numero} par')
    break
  else:
    continue
    print(f'O numero{numero} impar')

O numero 194 par