**Variáveis Numéricas**

Exercicio Motivação

In [ ]:
a = 3
b = 4
c = 5.5
x = (a+b)
y = b/c
print(x)
print(y)
print(int(c))
print(float(a))
print(complex(c))

7
0.7272727272727273
5
3.0
(5.5+0j)

**Variáveis Strings**

Definição

In [ ]:
Andressa = "Bela"
print(type(Andressa))

Mala = " "
print(Mala)

<class 'str'>

Concatenação

In [ ]:
nome = "Leandro Pitagoras"
sobrenome = "Teixeira"
apresentação = "olá, sou o " + nome + " " + sobrenome + "."
print(apresentação)
apresent = f"olá, sou o {nome} {sobrenome}"
print(apresent)

olá, sou o Leandro Pitagoras Teixeira.
olá, sou o Leandro Pitagoras Teixeira

Fatiamento

In [ ]:
email = "leandropitagoras@gmail.com"
print(email[16]+" " "na posição 16")
print(email[-1]+ " "+"na posição -1")
print(email[0:16])

@ na posição 16
m na posição -1
leandropitagoras

Métodos

In [ ]:
endereço = 'Odete Laura Foggiato, 481, Atuba, Curitiba'
print(endereço.upper())

posição = endereço.find("Atuba")
print(posição)

print(endereço.replace("Atuba" , "Bairro"))

ODETE LAURA FOGGIATO, 481, ATUBA, CURITIBA
27
Odete Laura Foggiato, 481, Bairro, Curitiba

Conversão

In [ ]:
idade = 44
print(type(idade))
idade = str(idade)
print(type(idade))

<class 'int'>
<class 'str'>

In [ ]:
fat = "R$ 35 mi"
print(fat)
print(type(fat))

fat = float(fat[3:5])
print(fat)
print(type(fat))

R$ 35 mi
<class 'str'>
35.0
<class 'float'>

Exercicio Motivação

In [ ]:
# sua empresa
lat = "-22.005320"
lon = "-47.891040"
# startup adquirida
latlon = "-22.005320;-47.891040"

posiçao_char_divisão = latlon.find(';')
print(posiçao_char_divisão)

lat_startup = latlon[0:posiçao_char_divisão]
print(lat_startup)

lon_startup = latlon[posiçao_char_divisão+1:len(latlon)]
print(lon_startup)

10
-22.005320
-47.891040

**Variáveis Booleanas**

Definição

In [ ]:
verdadeiro = True
print(verdadeiro)
print(type(verdadeiro))

True
<class 'bool'>

Operações > < == <= >= !=

In [ ]:
Saldo_em_conta = 400
Valor_do_saque = 300
pode_sacar = Valor_do_saque <= Saldo_em_conta
print(pode_sacar) 

seg = 234
cad = 678
sim = seg == cad
print(sim)

True
False

Operações |ou &e notnão

In [ ]:
A = True
B = False
print(A | B)
print(A & B)
print(not(A))

True
False
False

Conversão

In [ ]:
idade = 44
tipo_sanguineo = "A"
filhos = 0
tel_fixo = None
tel_fixo = ""
print(bool(idade))
print(bool(tipo_sanguineo))
print(bool(filhos))
print(bool(tel_fixo))
print(bool(tel_fixo))

True
True
False
False
False

Exercicio Motivação

In [ ]:
usuário = "leandropitagoras"
senha = "123"
usuário_cadastro = "leandropitagoras"
senha_cadastro = "133"
usu_igual = usuário==usuário_cadastro
sen_igual = senha==senha_cadastro
conceder_acesso = usu_igual & sen_igual
print(usu_igual)
print(sen_igual)
print(conceder_acesso)

True
False
False